# Ignore artifacts:
build/
coverage/
app/
public/
config/
database/
routes/
storage/
tests/
vendor/
resources/animations/
resources/icons/
resources/fonts/
resources/lang/
resources/views/

# Ignore files:
artisan 
.editorconfig
.env
.env.example
.gitattributes 
.gitignore
.styleci.yml
.prettierrc
.prettierignore
.eslintrc
eslint.config.js
composer.json
composer.lock
package.json
package-lock.json
phpunit.xml
README.md
server.php
webpack.mix.js
ssh_undangabi.sh 