.display-flex {
  display: flex;
  flex-wrap: nowrap;
  &.wrap {
    flex-wrap: wrap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.right {
    justify-content: flex-end;
  }
  &.left {
    justify-content: flex-start;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
  &.align-center {
    align-items: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-right {
    justify-content: flex-end;
  }
  &.display-align-mobile {
    @media (max-width: $min-width) {
      justify-content: flex-start;
    }
  }
  &.align-center-mobile {
    @media (max-width: $min-width) {
      align-items: center;
    }
  }
  &.align-start-mobile {
    @media (max-width: $min-width) {
      align-items: flex-start;
    }
  }
  &.align-end-mobile {
    @media (max-width: $min-width) {
      align-items: flex-end;
    }
  }
  &.justify-center-mobile {
    @media (max-width: $min-width) {
      justify-content: center;
    }
  }
  &.justify-start-mobile {
    @media (max-width: $min-width) {
      justify-content: flex-start;
    }
  }
  &.justify-end-mobile {
    @media (max-width: $min-width) {
      justify-content: flex-end;
    }
  }
  &.display-mobile {
    @media (max-width: $min-width) {
      display: block;
    }
  }
  &.display-mobile-column {
    @media (max-width: $min-width) {
      flex-direction: column;
    }
    &.display-mobile-center {
      @media (max-width: $min-width) {
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.column-reverse {
    flex-direction: column-reverse;
  }
}

.display-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba($color: #000000, $alpha: 0.4);
  overflow-y: auto;
}

.double-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .double-image-path {
    position: relative;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  @media (max-width: $min-width) {
    flex-direction: column;
    .double-image-path {
      position: relative;
      width: 100%;
      height: 50%;
    }
  }
  &.mobile-full {
    @media (max-width: $min-width) {
      flex-direction: row;
      display: block;
      .double-image-path {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}

.show-on-mobile {
  display: none;
  @media (max-width: $min-width) {
    display: block;
  }
}

.show-on-desktop {
  display: block;
  @media (max-width: $min-width) {
    display: none;
  }
}
