.padding {
  @for $var from 0 to 500 {
    &.padding-#{$var}-px {
      padding: #{$var} + 'px';
    }
    &.padding-left-#{$var}-px {
      padding-left: #{$var} + 'px';
    }
    &.padding-right-#{$var}-px {
      padding-right: #{$var} + 'px';
    }
    &.padding-top-#{$var}-px {
      padding-top: #{$var} + 'px';
    }
    &.padding-bottom-#{$var}-px {
      padding-bottom: #{$var} + 'px';
    }
    &.padding-#{$var}px {
      padding: #{$var} + 'px';
    }
    &.padding-left-#{$var}px {
      padding-left: #{$var} + 'px';
    }
    &.padding-right-#{$var}px {
      padding-right: #{$var} + 'px';
    }
    &.padding-top-#{$var}px {
      padding-top: #{$var} + 'px';
    }
    &.padding-bottom-#{$var}px {
      padding-bottom: #{$var} + 'px';
    }
    &.padding-#{$var} {
      padding: #{$var} + '%';
    }
    &.padding-left-#{$var} {
      padding-left: #{$var} + '%';
    }
    &.padding-right-#{$var} {
      padding-right: #{$var} + '%';
    }
    &.padding-top-#{$var} {
      padding-top: #{$var} + '%';
    }
    &.padding-bottom-#{$var} {
      padding-bottom: #{$var} + '%';
    }
    @media (max-width: $min-width) {
      &.padding-mobile-#{$var}px {
        padding: #{$var} + 'px' !important;
      }
      &.padding-mobile-left-#{$var}px {
        padding-left: #{$var} + 'px' !important;
      }
      &.padding-mobile-right-#{$var}px {
        padding-right: #{$var} + 'px' !important;
      }
      &.padding-mobile-top-#{$var}px {
        padding-top: #{$var} + 'px' !important;
      }
      &.padding-mobile-bottom-#{$var}px {
        padding-bottom: #{$var} + 'px' !important;
      }
      &.padding-mobile-#{$var} {
        padding: #{$var} + '%' !important;
      }
      &.padding-mobile-left-#{$var} {
        padding-left: #{$var} + '%' !important;
      }
      &.padding-mobile-right-#{$var} {
        padding-right: #{$var} + '%' !important;
      }
      &.padding-mobile-top-#{$var} {
        padding-top: #{$var} + '%' !important;
      }
      &.padding-mobile-bottom-#{$var} {
        padding-bottom: #{$var} + '%' !important;
      }
    }
  }
  &.padding-mobile {
    @media (max-width: $min-width) {
      padding: 0 0;
    }
  }
}

.margin {
  @for $var from 0 to 500 {
    &.margin-#{$var}-px {
      margin: #{$var} + 'px';
    }
    &.margin-left-#{$var}-px {
      margin-left: #{$var} + 'px';
    }
    &.margin-right-#{$var}-px {
      margin-right: #{$var} + 'px';
    }
    &.margin-top-#{$var}-px {
      margin-top: #{$var} + 'px';
    }
    &.margin-bottom-#{$var}-px {
      margin-bottom: #{$var} + 'px';
    }
    &.margin-#{$var}px {
      margin: #{$var} + 'px';
    }
    &.margin-left-#{$var}px {
      margin-left: #{$var} + 'px';
    }
    &.margin-right-#{$var}px {
      margin-right: #{$var} + 'px';
    }
    &.margin-top-#{$var}px {
      margin-top: #{$var} + 'px';
    }
    &.margin-bottom-#{$var}px {
      margin-bottom: #{$var} + 'px';
    }
    &.margin-#{$var} {
      margin: #{$var} + '%';
    }
    &.margin-left-#{$var} {
      margin-left: #{$var} + '%';
    }
    &.margin-right-#{$var} {
      margin-right: #{$var} + '%';
    }
    &.margin-top-#{$var} {
      margin-top: #{$var} + '%';
    }
    &.margin-bottom-#{$var} {
      margin-bottom: #{$var} + '%';
    }
    @media (max-width: $min-width) {
      &.margin-mobile-#{$var}px {
        margin: #{$var} + 'px' !important;
      }
      &.margin-mobile-left-#{$var}px {
        margin-left: #{$var} + 'px' !important;
      }
      &.margin-mobile-right-#{$var}px {
        margin-right: #{$var} + 'px' !important;
      }
      &.margin-mobile-top-#{$var}px {
        margin-top: #{$var} + 'px' !important;
      }
      &.margin-mobile-bottom-#{$var}px {
        margin-bottom: #{$var} + 'px' !important;
      }
      &.margin-mobile-#{$var} {
        margin: #{$var} + '%' !important;
      }
      &.margin-mobile-left-#{$var} {
        margin-left: #{$var} + '%' !important;
      }
      &.margin-mobile-right-#{$var} {
        margin-right: #{$var} + '%' !important;
      }
      &.margin-mobile-top-#{$var} {
        margin-top: #{$var} + '%' !important;
      }
      &.margin-mobile-bottom-#{$var} {
        margin-bottom: #{$var} + '%' !important;
      }
    }
  }
  &.margin-mobile {
    @media (max-width: $min-width) {
      margin: 0 0;
    }
  }
}
