//fonts
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik/Graphik-Regular.ttf');
}
@font-face {
  font-family: 'GraphikLight';
  src: url('../fonts/Graphik/Graphik-Light.ttf');
}
@font-face {
  font-family: 'GraphikThin';
  src: url('../fonts/Graphik/Graphik-Thin.ttf');
}
@font-face {
  font-family: 'GraphikSuper';
  src: url('../fonts/Graphik/Graphik-Super.ttf');
}
@font-face {
  font-family: 'GraphikSemibold';
  src: url('../fonts/Graphik/Graphik-Semibold.ttf');
}
@font-face {
  font-family: 'GraphikMedium';
  src: url('../fonts/Graphik/Graphik-Medium.ttf');
}
@font-face {
  font-family: 'GraphikExtralight';
  src: url('../fonts/Graphik/Graphik-Extralight.ttf');
}
@font-face {
  font-family: 'GraphikBold';
  src: url('../fonts/Graphik/Graphik-Bold.ttf');
}
@font-face {
  font-family: 'GraphikBlack';
  src: url('../fonts/Graphik/Graphik-Black.ttf');
}
@font-face {
  font-family: 'ShadowIntoLigth';
  src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf');
}
@font-face {
  font-family: 'ViaodaLibre';
  src: url('../fonts/Viaoda_Libre/ViaodaLibre-Regular.ttf');
}
@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy/Satisfy-Regular.ttf');
}
@font-face {
  font-family: 'Parisienne';
  src: url('../fonts/Parisienne/Parisienne-Regular.ttf');
}
@font-face {
  font-family: 'PoiretOne';
  src: url('../fonts/Poiret_One/PoiretOne-Regular.ttf');
}
@font-face {
  font-family: 'Sacramento';
  src: url('../fonts/Sacramento/Sacramento-Regular.ttf');
}
@font-face {
  font-family: 'RoxboroughCF';
  src: url('../fonts/RoxboroughCF/RoxboroughCF.ttf');
}
@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/DancingScript/DancingScript-Regular.ttf');
}
@font-face {
  font-family: 'Bodoni';
  src: url('../fonts/Bodoni/Bodoni-06-Book.ttf');
}
@font-face {
  font-family: 'DynaPuff';
  src: url('../fonts/DynaPuff/DynaPuff.ttf');
}
@font-face {
  font-family: 'CreattionDemo';
  src: url('../fonts/CreattionDemo/creattion-demo.otf');
}
@font-face {
  font-family: 'VisiaPro';
  src: url('../fonts/VisiaPro/VisiaPro-Regular.ttf');
}
@font-face {
  font-family: 'VisiaProLigth';
  src: url('../fonts/VisiaPro/VisiaPro-Light.ttf');
}
@font-face {
  font-family: 'VisiaProSemiBold';
  src: url('../fonts/VisiaPro/VisiaPro-SemiBold.ttf');
}
@font-face {
  font-family: 'VisiaProBold';
  src: url('../fonts/VisiaPro/VisiaPro-Bold.ttf');
}
@font-face {
  font-family: 'GreatVibes';
  src: url('../fonts/GreatVibes/GreatVibes.otf');
}
@font-face {
  font-family: 'WeddingScript';
  src: url('../fonts/WeddingScript/Wedding.ttf');
}
@font-face {
  font-family: 'Gistesy';
  src: url('../fonts/Gistesy//Gistesy.ttf');
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/static/Lora-Regular.ttf');
}
@font-face {
  font-family: 'LoraSemibold';
  src: url('../fonts/Lora/static/Lora-SemiBold.ttf');
}
@font-face {
  font-family: 'LoraBold';
  src: url('../fonts/Lora/static/Lora-Bold.ttf');
}
@font-face {
  font-family: 'FeelingPassionate';
  src: url('../fonts/FeelingPassionate/FeelingPassionateRegular.otf');
}
@font-face {
  font-family: 'Ovo';
  src: url('../fonts/Ovo/Ovo-Regular.ttf');
}
@font-face {
  font-family: 'Simonetta';
  src: url('../fonts/Simonetta/Simonetta-Regular.ttf');
}
@font-face {
  font-family: 'SimonettaBlack';
  src: url('../fonts/Simonetta/Simonetta-Black.ttf');
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Light.ttf');
}
@font-face {
  font-family: 'QuicksandRegular';
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'QuicksandMedium';
  src: url('../fonts/Quicksand/Quicksand-Medium.ttf');
}
@font-face {
  font-family: 'QuicksandBold';
  src: url('../fonts/Quicksand/Quicksand-Bold.ttf');
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf');
}
@font-face {
  font-family: 'CormorantGaramondRegular';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}
@font-face {
  font-family: 'CormorantGaramondMedium';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf');
}
@font-face {
  font-family: 'CormorantGaramondSemiBold';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf');
}
@font-face {
  font-family: 'CormorantGaramondBold';
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url('../fonts/Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf');
}

//animation
@mixin animate_1() {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@mixin animate_2() {
  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

@mixin animate_none() {
  -webkit-transition: all 0 cubic-bezier(0, 0, 0, 0);
  -moz-transition: all 0 cubic-bezier(0, 0, 0, 0);
  -ms-transition: all 0 cubic-bezier(0, 0, 0, 0);
  -o-transition: all 0 cubic-bezier(0, 0, 0, 0);
  transition: all 0 cubic-bezier(0, 0, 0, 0);
}

// width
$max-width: 1100px;
$min-width: 720px;
$micro-width: 500px;

// color
$main-color: #facc48;
$placeholder-color: #fffaec;
$primary-color: #fa7348;
$sekunder-color: #fffaec;
$tertiary-color: #fad202;

$grey: #555;
$light-grey: #999;
$tiny-grey: rgba(0, 0, 0, 0.1);
$white-grey: #ededf1;
$white: #fff;
$black: #1a1507;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// shadow
$shadow: 3px 6px 18px $white-grey;
$shadow-bold: 3px 6px 18px $tiny-grey;

// border
$border: 1px solid $tiny-grey;
$border-dashed: 4px dashed $tiny-grey;

// position
//position
@mixin post_none() {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@mixin post_fixed() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $txt-sek-color;
  z-index: 300;
}
@mixin post_top($path) {
  position: $path;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin post_bottom($path) {
  position: $path;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin post_middle($path) {
  position: $path;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin post_center($path) {
  position: $path;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.post-middle {
  @include post_center(relative);
}
.post-middle-absolute {
  @include post_center(absolute);
}

.post-center {
  @include post_top(relative);
}

.post-top {
  @include post_top(relative);
}

.bg-main {
  background-color: $main-color !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-grey {
  background-color: #f8f8f8 !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-transparent {
  background-color: rgba($color: #000000, $alpha: 0) !important;
}

.bg-transparent-10 {
  background-color: rgba($color: #000000, $alpha: 0.1) !important;
}

.bg-transparent-20 {
  background-color: rgba($color: #000000, $alpha: 0.2) !important;
}

.bg-transparent-30 {
  background-color: rgba($color: #000000, $alpha: 0.3) !important;
}

.bg-transparent-40 {
  background-color: rgba($color: #000000, $alpha: 0.4) !important;
}

.bg-transparent-50 {
  background-color: rgba($color: #000000, $alpha: 0.5) !important;
}

.bg-transparent-60 {
  background-color: rgba($color: #000000, $alpha: 0.6) !important;
}

.bg-transparent-70 {
  background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.bg-transparent-80 {
  background-color: rgba($color: #000000, $alpha: 0.8) !important;
}

.bg-transparent-90 {
  background-color: rgba($color: #000000, $alpha: 0.9) !important;
}

.bg-transparent-white {
  background-color: rgba($color: #ffffff, $alpha: 0) !important;
}

.bg-transparent-white-10 {
  background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
}

.bg-transparent-white-20 {
  background-color: rgba($color: #ffffff, $alpha: 0.2) !important;
}

.bg-transparent-white-30 {
  background-color: rgba($color: #ffffff, $alpha: 0.3) !important;
}

.bg-transparent-white-40 {
  background-color: rgba($color: #ffffff, $alpha: 0.4) !important;
}

.bg-transparent-white-50 {
  background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
}

.bg-transparent-white-60 {
  background-color: rgba($color: #ffffff, $alpha: 0.6) !important;
}

.bg-transparent-white-70 {
  background-color: rgba($color: #ffffff, $alpha: 0.7) !important;
}

.bg-transparent-white-80 {
  background-color: rgba($color: #ffffff, $alpha: 0.8) !important;
}

.bg-transparent-white-90 {
  background-color: rgba($color: #ffffff, $alpha: 0.9) !important;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-bottom {
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-image-top {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-image-center {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cursor-pointer {
  cursor: pointer;
}

// scrollbar
@mixin transparantScrollBar() {
  // normal
  &::-moz-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 1ex;
    border-radius: 1ex;
  }
  &::-moz-scrollbar-corner {
    background-color: #fff;
  }

  // webkit
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
  }
  &::-webkit-scrollbar-corner {
    background-color: #fff;
  }
}

@mixin transparantScrollBarHover() {
  &::scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1ex;
    border-radius: 1ex;
  }
  &::scrollbar-corner {
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
  }
  &::-webkit-scrollbar-corner {
    background-color: #fff;
  }

  &::-moz-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    -moz-border-radius: 1ex;
    border-radius: 1ex;
  }
  &::-moz-scrollbar-corner {
    background-color: #fff;
  }

  &:hover {
    &::scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-moz-scrollbar {
      width: 6px;
    }

    &::scrollbar-thumb {
      @include animate_1();
      background-color: rgba(0, 0, 0, 0.3);
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      @include animate_1();
      background-color: rgba(0, 0, 0, 0.3);
      width: 6px;
    }
    &::-moz-scrollbar-thumb {
      @include animate_1();
      background-color: rgba(0, 0, 0, 0.3);
      width: 6px;
    }
  }
}

@mixin greyScrollBar() {
  &::scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1ex;
    border-radius: 1ex;
  }
  &::scrollbar-corner {
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
  }
  &::-webkit-scrollbar-corner {
    background-color: #fff;
  }

  &::-moz-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
  }
  &::-moz-scrollbar-corner {
    background-color: #fff;
  }
}

.change-scrollbar {
  @include transparantScrollBarHover();
  scroll-behavior: smooth;
  overflow-y: overlay;
}

.change-scrollbar-normal {
  @include greyScrollBar();
  scroll-behavior: smooth;
  overflow-y: overlay;
}

.background-main {
  background-color: $main-color;
}

.background-placeholder {
  background-color: $placeholder-color;
}

.background-tertiary {
  background-color: $tertiary-color;
}

.background-white {
  background-color: #fff;
}

.background-black {
  background-color: #000;
}

.background-grey {
  background-color: $white-grey;
}
